.AdminAnalytics{
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 767px) {
        margin-top: 70px;
        padding: 5px;
        margin-bottom: 100px; 
    }

  
    .filterProducts{
        span{
            color: #991b1b;
            font-size: 12px;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            padding-bottom: 20px;

            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-bottom: 20px;
            }

            li{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                span{
                    color: black;
                    font-weight: bold;
                    font-size: 14px;
                }
                small{
                    color: #6b7280;
                    font-weight: 500;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    strong{
                        display: flex;
                        gap: 5px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .ReportButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
      
        @media (max-width: 767px) {
            flex-wrap: wrap;
            gap: 10px;
            .ButtonDownload {
              flex: 0 0 calc(50% - 20px); /* Adjust width based on your gap and padding values */
              margin-bottom: 5px; /* Adjust margin between rows */
            }
          
        }
      
        .ButtonDownload {
          display: flex;
          gap: 5px;
          background-color: #154a93;
          padding: 5px 10px;
          border: none;
          outline: none;
          border-radius: 5px;
          cursor: pointer;
      
          .DownloadIcon {
            color: white;
          }
      
          button {
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }
      
        .ButtonDownload:hover {
          background-color: #0369a1;
        }
      }
      

    .GraphsSummary{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 50px;
        padding-right: 50px;

        @media (max-width: 767px) {
            padding-left: 5px;
            padding-right: 5px;
        }

        .SummaryDash{
            .headerDash{
                h3{
                    color: #0c4a6e;
                }
            }
        }

        .StockDash{
            
                h3{
                    color: #0c4a6e;
                }
            
        }
    }
}