.ProductEdits{
    padding-top: 150px;
    margin-left: 5%; 
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: auto;
    margin-bottom: 50px;

    
    @media (max-width: 768px) { 
    padding-top: 20px; 
    margin-top: 0%;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.StockTakeHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    h3{
        color: #154a93;
        font-weight: 600;
        text-transform: capitalize;
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #154a93;
        small{
            color: green;
            font-size: 18px;
        }
    }
}

.downloadStockAddedReceipt{
    padding-top: 20px;
    padding-bottom: 20px;

    button{
        background-color: #154a93;
        border-radius: 0px;
        padding: 10px 15px;
        color: white;
    }
}
    .TableProducts{
       width: 100%;
       background-color: white;
    }
}