.SummaryCash{
    height: 100vh;

    .TableSummary{
        
        margin-top: 30px;
        .TableDisplays{
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}