.StockAddition{
    margin-top: 50px;
    padding-top: 30px;
    @media (max-width: 767px) {
        padding-top: 100px;
    }
    .infoTop{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 20px;
        padding-left: 20px;

        @media (max-width: 767px) {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }

        h1{
            font-weight: 600;
            font-size: 25px;
            color: #0c4a6e;

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
        button{
            padding: 5px;
            cursor: pointer;
            background-color: #082f49;
            color: white;
            border-radius: 3px;
        }
    }
}