.MessageApp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @media (max-width: 767px) {
        gap: 5px;
        padding: 10px;
        box-shadow: none;
    }

    .TopMessage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        h1{
            font-weight: bold;
            font-size: 40px;
        }

        p{
            font-size: 17px;
            color: #9ca3af;
            font-weight: 600;
        }
    }

    .Entries{
        display: flex;
        flex-direction: column;
        gap: 5px;

        label{
            font-size: 14px;
            color: #6b7280;
            font-weight: 600;
        }
        input{
            width: 400px;
            border: 0.5px solid grey;
            color: black;
            border-radius: 10px;
            padding: 10px;

            @media (max-width: 767px) {
                width: 300px;
            }
        }

        .PasswordInput {
            position: relative;

            .TogglePasswordVisibility {
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                border: none;
                background: none;
                cursor: pointer;
                color: #0c0c1d;
                width: 50px;
              }
          }

        textarea{
            width: 400px;
            border: 0.5px solid grey;
            color: black;
            border-radius: 10px;
            padding: 10px;
            @media (max-width: 767px) {
                width: 300px;
            }
        }

        button{
            background-color: #032e69;
            width: 100%;
            color: white;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 30px;
        }
    }
}