.StockSheet{
    padding-left: 10px;
    padding-bottom: 5px;

    button{
        background-color: #032e69;
        padding: 10px 15px;
        color: white;
        border-radius: 200px;
        border: none;
        outline: none;
        font-weight: bold;
    }
}