.cart-icon-container {
  position: relative;
  cursor: pointer;
}

.cart-icon-container button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.cart-icon-container .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #021e46;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
